<a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600">
    <i class="ti-shift-left-alt"></i> Components
</a>
<!-- Header Section -->
<header class="header" style="background-color: var(--primary); color: var(--white);">
    <div class="container">
        <ul class="social-icons pt-3">
            <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-google" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-instagram" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-github" aria-hidden="true"></i></a></li>
        </ul>
        <div class="header-content">
            <h4 class="header-subtitle" style="color: var(--primary); font-size: var(--title-font-size);">Hello, I am</h4>
            <h1 class="header-title" style="color: var(--primary); font-size: var(--title-font-size);">John Doe</h1>
            <h6 class="header-mono" style="color: var(--primary); font-size: var(--subtitle-font-size);">Front end Designer | Developer</h6>
            <button class="btn btn-primary btn-rounded" style="background-color: var(--additional-color-1); color: var(--white);">
                <i class="ti-printer pr-2" style="color: var(--primary); font-size: var(--text-font-size);"></i>Print Resume
            </button>
        </div>
    </div>
</header>
<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: var(--primary); color: var(--white);" data-spy="affix" data-offset-top="510">
    <div class="container">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="#home" class="nav-link" style="color: var(--secondary); font-size: var(--text-font-size);">Home</a></li>
                <li class="nav-item"><a href="#about" class="nav-link" style="color: var(--secondary); font-size: var(--text-font-size);">About</a></li>
                <li class="nav-item"><a href="#resume" class="nav-link" style="color: var(--secondary); font-size: var(--text-font-size);">Resume</a></li>
                <li class="nav-item"><a routerLink="/login" class="nav-link" style="color: var(--secondary); font-size: var(--text-font-size);">Login</a></li>
            </ul>
            <ul class="navbar-nav brand">
                <img src="imgs/avatar.jpg" alt="John Doe" class="brand-img">
                <li class="brand-txt">
                    <h5 class="brand-title" style="color: var(--secondary);">John Doe</h5>
                    <div class="brand-subtitle" style="color: var(--secondary);">Web Designer | Developer</div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#portfolio" class="nav-link" style="color: var(--secondary); font-size: var(--text-font-size);">Portfolio</a></li>
                <li class="nav-item"><a href="#blog" class="nav-link" style="color: var(--secondary); font-size: var(--text-font-size);">Blog</a></li>
                <li class="nav-item last-item"><a href="#contact" class="nav-link" style="color: var(--secondary); font-size: var(--text-font-size);">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div id="about" class="row about-section">
        <div class="col-lg-4 about-card" style="background-color: var(--secondary);">
            <h3 class="font-weight-light" style="color: var(--primary); font-size: var(--subtitle-font-size);">Who am I ?</h3>
            <span class="line mb-5" style="background-color: var(--accent);"></span>
            <h5 class="mb-3" style="color: var(--primary); font-size: var(--subtitle-font-size);">A Web Designer / Developer Located In Our Lovely Earth</h5>
            <p class="mt-20" style="color: var(--accent); font-size: var(--text-font-size);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui deserunt consequatur fugit repellendusillo voluptas?</p>
            <button class="btn btn-outline-danger" style="border-color: var(--primary); color: var(--primary);">
                <i class="icon-down-circled2" style="color: var(--primary); font-size: var(--text-font-size);"></i>Download My CV
            </button>
        </div>
        <div class="col-lg-4 about-card" style="background-color: var(--secondary); ">
            <h3 class="font-weight-light" style="color: var(--primary); font-size: var(--subtitle-font-size);">Personal Info</h3>
            <span class="line mb-5" style="background-color: var(--accent);"></span>
            <ul class="mt40 info list-unstyled">
                <li style="color: var(--accent); font-size: var(--text-font-size);"><span style="color: var(--primary); font-size: var(--text-font-size);">Birthdate</span> : 09/13/1996</li>
                <li style="color: var(--accent); font-size: var(--text-font-size);"><span style="color: var(--primary); font-size: var(--text-font-size);">Email</span> : infowebsite.com</li>
                <li style="color: var(--accent); font-size: var(--text-font-size);"><span style="color: var(--primary); font-size: var(--text-font-size);">Phone</span> : + (123) 456-7890</li>
                <li style="color: var(--accent); font-size: var(--text-font-size);"><span style="color: var(--primary); font-size: var(--text-font-size);">Skype</span> : John_Doe</li>
                <li style="color: var(--accent); font-size: var(--text-font-size);"><span style="color: var(--primary); font-size: var(--text-font-size);">Address</span> : 12345 Fake ST NoWhere AB Country.</li>
            </ul>
            <ul class="social-icons pt-3">
                <li class="social-item"><a class="social-link" href="#" style="color: var(--primary);"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link" href="#" style="color: var(--primary);"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link" href="#" style="color: var(--primary);"><i class="ti-google" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link" href="#" style="color: var(--primary);"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link" href="#" style="color: var(--primary);"><i class="ti-github" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-4 about-card" style="background-color: var(--secondary);">
            <h3 class="font-weight-light" style="color: var(--primary);">My Expertise</h3>
            <span class="line mb-5" style="background-color: var(--accent);"></span>
            <div class="row">
                <div class="col-1 text-danger pt-1"><i class="ti-widget icon-lg" style="color: var(--primary);"></i></div>
                <div class="col-10 ml-auto mr-3">
                    <h6 style="color: var(--primary);">UX Design</h6>
                    <p class="subtitle" style="color: var(--secondary);">exercitat Repellendus, corrupt.</p>
                    <hr style="border-color: var(--accent);">
                </div>
            </div>
            <div class="row">
                <div class="col-1 text-danger pt-1"><i class="ti-paint-bucket icon-lg" style="color: var(--primary);"></i></div>
                <div class="col-10 ml-auto mr-3">
                    <h6 style="color: var(--primary);">Web Development</h6>
                    <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit consectetur.</p>
                    <hr style="border-color: var(--accent);">
                </div>
            </div>
            <div class="row">
                <div class="col-1 text-danger pt-1"><i class="ti-stats-up icon-lg" style="color: var(--primary);"></i></div>
                <div class="col-10 ml-auto mr-3">
                    <h6 style="color: var(--primary);">Digital Marketing</h6>
                    <p class="subtitle" style="color: var(--secondary);">voluptate commodi illo voluptatib.</p>
                    <hr style="border-color: var(--accent);">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Resume Section -->
<section class="section" id="resume" style="background-color: var(--additional-color-2); color: var(--white);">
    <div class="container">
        <h2 class="mb-5" style="color: var(--primary);"><span style="color: var(--text-danger);">My</span> Resume</h2>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card" style="background-color: var(--secondary);">
                    <div class="card-header">
                        <div class="mt-2">
                            <h4 style="color: var(--primary);">Expertise</h4>
                            <span class="line" style="background-color: var(--accent);"></span>
                        </div>
                    </div>
                    <div class="card-body" >
                        <h6 class="title" style="color: var(--primary);">2017 - Present</h6>
                        <p style="color: var(--secondary);">UX Developer</p>
                        <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum recusandae, cupiditate ullam dolor ratione repellendus.aliquid repudiandae saepe!.</p>
                        <hr style="border-color: var(--accent);">
                        <h6 class="title" style="color: var(--primary);">2016 - 2017</h6>
                        <p style="color: var(--secondary);">Front-end Developer</p>
                        <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum recusandae, cupiditate ullam dolor ratione repellendus.aliquid repudiandae saepe!.</p>
                        <hr style="border-color: var(--accent);">
                        <h6 class="title" style="color: var(--primary);">2015 - 2016</h6>
                        <p style="color: var(--secondary);">UX Designer</p>
                        <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum recusandae, cupiditate ullam dolor ratione repellendus.aliquid repudiandae saepe!.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card" style="background-color: var(--secondary);">
                    <div class="card-header">
                        <div class="mt-2">
                            <h4 style="color: var(--primary);">Education</h4>
                            <span class="line" style="background-color: var(--accent);"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="title" style="color: var(--primary);">2017 - Present</h6>
                        <p style="color: var(--secondary);">B.E Computer Engineering</p>
                        <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error corrupti recusandae obcaecati odit repellat ducimus cum, minus tempora aperiam at.</p>
                        <hr style="border-color: var(--accent);">
                        <h6 class="title" style="color: var(--primary);">2016 - 2017</h6>
                        <p style="color: var(--secondary);">Diploma in Computer Engineering</p>
                        <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, id officiis quas placeat quia voluptas dolorum rem animi nostrum quae.aliquid repudiandae saepe!.</p>
                        <hr style="border-color: var(--accent);">
                        <h6 class="title" style="color: var(--primary);">2015 - 2016</h6>
                        <p style="color: var(--secondary);">High School Degree</p>
                        <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum recusandae, cupiditate ullam dolor ratione repellendus.aliquid repudiandae saepe!.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="background-color: var(--secondary);">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="mt-2" style="color: var(--primary);">Skills</h4>
                            <span class="line" style="background-color: var(--accent);"></span>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <h6 style="color: var(--primary);">HTML5 & CSS3</h6>
                        <div class="progress mb-3" style="background-color: var(--additional-color-1);">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 97%; background-color: var(--primary);"></div>
                        </div>
                        <h6 style="color: var(--primary);">JavaScript</h6>
                        <div class="progress mb-3" style="background-color: var(--additional-color-1);">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 85%; background-color: var(--primary);"></div>
                        </div>
                        <h6 style="color: var(--primary);">PHP</h6>
                        <div class="progress mb-3" style="background-color: var(--additional-color-1);">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%; background-color: var(--primary);"></div>
                        </div>
                        <h6 style="color: var(--primary);">SQL</h6>
                        <div class="progress mb-3" style="background-color: var(--additional-color-1);">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%; background-color: var(--primary);"></div>
                        </div>
                    </div>
                </div>
                <div class="card" style="background-color: var(--secondary);">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="mt-2" style="color: var(--primary);">Languages</h4>
                            <span class="line" style="background-color: var(--accent);"></span>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <h6 style="color: var(--primary);">English</h6>
                        <div class="progress mb-3" style="background-color: var(--additional-color-1);">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%; background-color: var(--primary);"></div>
                        </div>
                        <h6 style="color: var(--primary);">French</h6>
                        <div class="progress mb-3" style="background-color: var(--additional-color-1);">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 45%; background-color: var(--primary);"></div>
                        </div>
                        <h6 style="color: var(--primary);">Spanish</h6>
                        <div class="progress mb-3" style="background-color: var(--additional-color-1);">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 67%; background-color: var(--primary);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section text-center" style="background-color: var(--accent);">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-lg-3">
                <div class="row">
                    <div class="col-5 text-right text border-right py-3">
                        <div class="m-auto"><i class="ti-alarm-clock icon-xl" style="color: var(--primary);"></i></div>
                    </div>
                    <div class="col-7 text-left py-3">
                        <h1 class="font-weight-bold font40" style="color: var(--primary);">500</h1>
                        <p class="text mb-1" style="color: var(--secondary);">Hours Worked</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row">
                    <div class="col-5 text-right text-light border-right py-3">
                        <div class="m-auto"><i class="ti-layers-alt icon-xl" style="color: var(--primary);"></i></div>
                    </div>
                    <div class="col-7 text-left py-3">
                        <h1 class="font-weight-bold font40" style="color: var(--primary);">50K</h1>
                        <p class="text mb-1" style="color: var(--secondary);">Project Finished</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row">
                    <div class="col-5 text-right text-light border-right py-3">
                        <div class="m-auto"><i class="ti-face-smile icon-xl" style="color: var(--primary);"></i></div>
                    </div>
                    <div class="col-7 text-left py-3">
                        <h1 class="font-weight-bold font40" style="color: var(--primary);">200K</h1>
                        <p class="text mb-1" style="color: var(--secondary);">Happy Clients</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row">
                    <div class="col-5 text-right text-light border-right py-3">
                        <div class="m-auto"><i class="ti-heart-broken icon-xl" style="color: var(--primary);"></i></div>
                    </div>
                    <div class="col-7 text-left py-3">
                        <h1 class="font-weight-bold font40" style="color: var(--primary);">2k</h1>
                        <p class="text mb-1" style="color: var(--secondary);">Coffee Drinked</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section" id="service" style="background-color: var(--additional-color-1); color: var(--white);">
    <div class="container">
        <h2 class="mb-5 pb-4" style="color: var(--primary);"><span style="color: var(--text-danger);">My</span> Services</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5" style="background-color: var(--accent);">
                    <div class="card-header has-icon">
                        <i class="ti-vector" style="color: var(--primary);"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title" style="color: var(--primary);">Ullam</h5>
                        <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi, unde ipsam ex veritatis laboriosam dolor asperiores suscipit blanditiis, dignissimos quos nesciunt nulla aperiam officia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5" style="background-color: var(--accent);">
                    <div class="card-header has-icon">
                        <i class="ti-write" style="color: var(--primary);"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title" style="color: var(--primary);">Asperiores</h5>
                        <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi, unde ipsam ex veritatis laboriosam dolor asperiores suscipit blanditiis, dignissimos quos nesciunt nulla aperiam officia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5" style="background-color: var(--accent);">
                    <div class="card-header has-icon">
                        <i class="ti-package" style="color: var(--primary);"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title" style="color: var(--primary);">Tempora</h5>
                        <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi, unde ipsam ex veritatis laboriosam dolor asperiores suscipit blanditiis, dignissimos quos nesciunt nulla aperiam officia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5" style="background-color: var(--accent);">
                    <div class="card-header has-icon">
                        <i class="ti-map-alt" style="color: var(--primary);"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title" style="color: var(--primary);">Provident</h5>
                        <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi, unde ipsam ex veritatis laboriosam dolor asperiores suscipit blanditiis, dignissimos quos nesciunt nulla aperiam officia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5" style="background-color: var(--accent);">
                    <div class="card-header has-icon">
                        <i class="ti-bar-chart" style="color: var(--primary);"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title" style="color: var(--primary);">Consectetur</h5>
                        <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi, unde ipsam ex veritatis laboriosam dolor asperiores suscipit blanditiis, dignissimos quos nesciunt nulla aperiam officia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5" style="background-color: var(--accent);">
                    <div class="card-header has-icon">
                        <i class="ti-support" style="color: var(--primary);"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title" style="color: var(--primary);">Veritatis</h5>
                        <p class="subtitle" style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi, unde ipsam ex veritatis laboriosam dolor asperiores suscipit blanditiis, dignissimos quos nesciunt nulla aperiam officia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section bg-custom-gray" id="price" style="background-color: var(--additional-color-2); color: var(--white);">
    <div class="container">
        <h1 class="mb-5" style="color: var(--primary);"><span style="color: var(--text-danger);">Packs</span> Pricing</h1>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-3">
                <div class="price-card text-center mb-4" style="background-color: var(--accent);">
                    <h3 class="price-card-title" style="color: var(--primary);">Free</h3>
                    <div class="price-card-cost">
                        <sup class="ti-money" style="color: var(--primary);"></sup>
                        <span class="num" style="color: var(--primary);">0</span>
                        <span class="date" style="color: var(--secondary);">MO</span>
                    </div>
                    <ul class="list">
                        <li class="list-item" style="color: var(--secondary);">5 <span class="text">Project</span></li>
                        <li class="list-item" style="color: var(--secondary);">1GB <span class="text">Storage</span></li>
                        <li class="list-item" style="color: var(--secondary);"><span class="text">No Domain</span></li>
                        <li class="list-item" style="color: var(--secondary);">1 <span class="text">User</span></li>
                    </ul>
                    <button class="btn btn-primary btn-rounded w-lg" style="background-color: var(--primary); color: var(--additional-color-2);">Subscribe</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="price-card text-center mb-4" style="background-color: var(--accent);">
                    <h3 class="price-card-title" style="color: var(--primary);">Basic</h3>
                    <div class="price-card-cost">
                        <sup class="ti-money" style="color: var(--primary);"></sup>
                        <span class="num" style="color: var(--primary);">10</span>
                        <span class="date" style="color: var(--secondary);">MO</span>
                    </div>
                    <ul class="list">
                        <li class="list-item" style="color: var(--secondary);">50 <span class="text">Project</span></li>
                        <li class="list-item" style="color: var(--secondary);">10GB <span class="text">Storage</span></li>
                        <li class="list-item" style="color: var(--secondary);">1<span class="text">Domain</span></li>
                        <li class="list-item" style="color: var(--secondary);">5 <span class="text">User</span></li>
                    </ul>
                    <button class="btn btn-primary btn-rounded w-lg" style="background-color: var(--primary); color: var(--additional-color-2);">Subscribe</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="price-card text-center price-card-requried mb-4" style="background-color: var(--accent);">
                    <h3 class="price-card-title" style="color: var(--primary);">Exclusive</h3>
                    <div class="price-card-cost">
                        <sup class="ti-money" style="color: var(--primary);"></sup>
                        <span class="num" style="color: var(--primary);">25</span>
                        <span class="date" style="color: var(--secondary);">MO</span>
                    </div>
                    <ul class="list">
                        <li class="list-item" style="color: var(--secondary);">150 <span class="text">Project</span></li>
                        <li class="list-item" style="color: var(--secondary);">15GB <span class="text">Storage</span></li>
                        <li class="list-item" style="color: var(--secondary);">5<span class="text"> Domain</span></li>
                        <li class="list-item" style="color: var(--secondary);">15<span class="text">User</span></li>
                    </ul>
                    <button class="btn btn-primary btn-rounded w-lg" style="background-color: var(--primary); color: var(--additional-color-2);">Subscribe</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="price-card text-center mb-4" style="background-color: var(--accent);">
                    <h3 class="price-card-title" style="color: var(--primary);">Pro</h3>
                    <div class="price-card-cost">
                        <sup class="ti-money" style="color: var(--primary);"></sup>
                        <span class="num" style="color: var(--primary);">99</span>
                        <span class="date" style="color: var(--secondary);">MO</span>
                    </div>
                    <ul class="list">
                        <li class="list-item" style="color: var(--secondary);">500 <span class="text">Project</span></li>
                        <li class="list-item" style="color: var(--secondary);">1000GB <span class="text">Storage</span></li>
                        <li class="list-item" style="color: var(--secondary);">10<span class="text"> Domain</span></li>
                        <li class="list-item" style="color: var(--secondary);">Unlimite<span class="text">User</span></li>
                    </ul>
                    <button class="btn btn-primary btn-rounded w-lg" style="background-color: var(--primary); color: var(--additional-color-2);">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bg py-5" style="background-color: var(--accent);">
    <div class="container text-center">
        <h2 class="text mb-5 font-weight-normal" style="color: var(--primary);">I Am Available For FreeLance</h2>
        <button class="btn bg-primary w-lg" style="background-color: var(--primary); color: var(--additional-color-1);">Hire me</button>
    </div>
</section>

<!-- Portfolio Section -->
<section class="section bg-custom-gray" id="portfolio" style="background-color: var(--secondary); color: var(--primary);">
    <div class="container">
        <h1 class="mb-5"><span style="color: var(--text-danger);">My</span> Portfolio</h1>
        <div class="portfolio">
            <div class="filters">
                <a href="#" data-filter=".new" class="active" style="color: var(--primary);">New</a>
                <a href="#" data-filter=".advertising" style="color: var(--primary);">Advertising</a>
                <a href="#" data-filter=".branding" style="color: var(--primary);">Branding</a>
                <a href="#" data-filter=".web" style="color: var(--primary);">Web</a>
            </div>
            <div class="portfolio-container">
                <div class="col-md-6 col-lg-4 web new">
                    <div class="portfolio-item">
                        <img src="imgs/web-1.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/web-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">WEB</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 web new">
                    <div class="portfolio-item">
                        <img src="imgs/web-2.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/web-2.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">WEB</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 advertising new">
                    <div class="portfolio-item">
                        <img src="imgs/advertising-2.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/advertising-2.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">ADVERTISING</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 web">
                    <div class="portfolio-item">
                        <img src="imgs/web-4.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/web-4.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">WEB</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 advertising">
                    <div class="portfolio-item">
                        <img src="imgs/advertising-1.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/advertising-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">ADVERTISING</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 web new">
                    <div class="portfolio-item">
                        <img src="imgs/web-3.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/web-3.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">WEB</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 advertising new">
                    <div class="portfolio-item">
                        <img src="imgs/advertising-3.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/advertising-3.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">ADVERTISING</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 advertising new">
                    <div class="portfolio-item">
                        <img src="imgs/advertising-4.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/advertising-4.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">ADVERTISING</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 branding new">
                    <div class="portfolio-item">
                        <img src="imgs/branding-1.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/branding-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">BRANDING</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 branding">
                    <div class="portfolio-item">
                        <img src="imgs/branding-2.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/branding-2.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">BRANDING</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 branding new">
                    <div class="portfolio-item">
                        <img src="imgs/branding-3.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/branding-3.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">BRANDING</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 branding">
                    <div class="portfolio-item">
                        <img src="imgs/branding-4.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/branding-4.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">BRANDING</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 branding">
                    <div class="portfolio-item">
                        <img src="imgs/branding-5.jpg" class="img-fluid" alt="...">
                        <div class="content-holder" style="background-color: var(--accent);">
                            <a class="img-popup" href="imgs/branding-5.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title" style="color: var(--primary);">BRANDING</h6>
                                <p class="subtitle" style="color: var(--secondary);">Expedita corporis doloremque velit in totam!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of portfolio section -->

<section class="section" id="blog" style="background-color: var(--secondary); color: var(--primary);">
    <div class="container">
        <h2 class="mb-5">Latest <span style="color: var(--text-danger);">News</span></h2>
        <div class="row">
            <div class="blog-card" style="background-color: var(--accent);">
                <div class="img-holder">
                    <img src="imgs/blog1.jpg" alt="...">
                </div>
                <div class="content-holder">
                    <h6 class="title" style="color: var(--primary);">Consectetur adipisicing elit</h6>
                    <p class="post-details">
                        <a href="#" style="color: var(--primary);">By: Admin</a>
                        <a href="#" style="color: var(--primary);"><i class="ti-heart" style="color: var(--text-danger);"></i> 234</a>
                        <a href="#" style="color: var(--primary);"><i class="ti-comment"></i> 123</a>
                    </p>
                    <p style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nesciunt qui sit velit delectus voluptates, repellat ipsum culpa id deleniti. Rerum debitis facilis accusantium neque numquam mollitia modi quasi distinctio.</p>
                    <p style="color: var(--secondary);"><b>Necessitatibus nihil impedit! Ex nisi eveniet, dolor aliquid consequuntur repudiandae.</b></p>
                    <p style="color: var(--secondary);">Magnam in repellat enim harum omnis aperiam! Explicabo illo, commodi, dolor blanditiis cupiditate harum nisi vero accusamus laudantium voluptatibus dolores quae obcaecati.</p>
                    <a href="#" class="read-more" style="color: var(--primary);">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div><!-- end of blog wrapper -->
            <!-- blog-card -->
            <div class="blog-card" style="background-color: var(--accent);">
                <div class="img-holder">
                    <img src="imgs/blog2.jpg" alt="...">
                </div>
                <div class="content-holder">
                    <h6 class="title" style="color: var(--primary);">Explicabo illo</h6>
                    <p class="post-details">
                        <a href="#" style="color: var(--primary);">By: Admin</a>
                        <a href="#" style="color: var(--primary);"><i class="ti-heart" style="color: var(--text-danger);"></i> 456</a>
                        <a href="#" style="color: var(--primary);"><i class="ti-comment"></i> 264</a>
                    </p>
                    <p style="color: var(--secondary);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit excepturi laborum enim, vitae ipsam atque eum, ad iusto consequuntur voluptas, esse doloribus. Perferendis porro quisquam vitae exercitationem aliquid, minus eos laborum repudiandae, cumque debitis iusto omnis praesentium? Laborum placeat sit adipisci illum tempore maxime, esse qui quae? Molestias excepturi corporis similique doloribus. Esse vitae earum architecto nulla non dolores illum at perspiciatis quod, et deleniti cupiditate reiciendis harum facere, delectus eum commodi soluta distinctio sit repudiandae possimus sunt. Ipsum, rem.</p>
                    <a href="#" class="read-more" style="color: var(--primary);">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div><!-- end of blog wrapper -->
            <!-- blog-card -->
            <div class="blog-card" style="background-color: var(--accent);">
                <div class="img-holder">
                    <img src="imgs/blog3.jpg" alt="...">
                </div>
                <div class="content-holder">
                    <h4 class="title" style="color: var(--primary);">Porro Quisqua</h4>
                    <p class="post-details">
                        <a href="#" style="color: var(--primary);">By: Admin</a>
                        <a href="#" style="color: var(--primary);"><i class="ti-heart" style="color: var(--text-danger);"></i> 431</a>
                        <a href="#" style="color: var(--primary);"><i class="ti-comment"></i> 312</a>
                    </p>
                    <p style="color: var(--secondary);">Consectetur adipisicing elit. Impedit excepturi laborum enim, vitae ipsam atque eum, ad iusto consequuntur voluptas, esse doloribus. Perferendis porro quisquam vitae exercitationem aliquid, minus eos laborum repudiandae, cumque debitis iusto omnis praesentium? Laborum placeat sit adipisci illum tempore maxime, esse qui quae? Molestias excepturi corporis similique doloribus. Esse vitae earum architecto nulla non dolores illum at perspiciatis quod, et deleniti cupiditate reiciendis harum facere, delectus eum commodi soluta distinctio sit repudiandae possimus sunt. Ipsum, rem.</p>
                    <a href="#" class="read-more" style="color: var(--primary);">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div><!-- end of blog wrapper -->
        </div>
    </div>
</section>

<div class="section contact" id="contact" style="background-color: var(--custom-gray); color: var(--white);">
    <div id="map" class="map" style="background-color: var(--accent);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-form-card" style="background-color: var(--accent);">
                    <h4 class="contact-title" style="color: var(--primary);">Send a message</h4>
                    <form action="">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Name *" required style="background-color: var(--white); color: var(--primary);">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Email *" required style="background-color: var(--white); color: var(--primary);">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Message *" rows="7" required style="background-color: var(--white); color: var(--primary);"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary" style="background-color: var(--primary); color: var(--accent);">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info-card" style="background-color: var(--accent);">
                    <h4 class="contact-title" style="color: var(--primary);">Get in touch</h4>
                    <div class="row mb-2">
                        <div class="col-1 pt-1 mr-1">
                            <i class="ti-mobile icon-md" style="color: var(--primary);"></i>
                        </div>
                        <div class="col-10">
                            <h6 class="d-inline" style="color: var(--primary);">Phone : <br> <span class="text">+ (123) 456-789</span></h6>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1 pt-1 mr-1">
                            <i class="ti-map-alt icon-md" style="color: var(--primary);"></i>
                        </div>
                        <div class="col-10">
                            <h6 class="d-inline" style="color: var(--primary);">Address :<br> <span class="text">12345 Fake ST NoWhere AB Country.</span></h6>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1 pt-1 mr-1">
                            <i class="ti-envelope icon-md" style="color: var(--primary);"></i>
                        </div>
                        <div class="col-10">
                            <h6 class="d-inline" style="color: var(--primary);">Email :<br> <span class="text">infowebsite.com</span></h6>
                        </div>
                    </div>
                    <ul class="social-icons pt-4">
                        <li class="social-item"><a class="social-link text" href="#" style="color: var(--primary);"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                        <li class="social-item"><a class="social-link text" href="#" style="color: var(--primary);"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                        <li class="social-item"><a class="social-link text" href="#" style="color: var(--primary);"><i class="ti-google" aria-hidden="true"></i></a></li>
                        <li class="social-item"><a class="social-link text" href="#" style="color: var(--primary);"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                        <li class="social-item"><a class="social-link text" href="#" style="color: var(--primary);"><i class="ti-github" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer py-3" style="background-color: var(--primary); color: var(--white);">
    <div class="container">
        <p class="small mb-0 text-light">
            &copy; <script>document.write(new Date().getFullYear())</script> Created With <i class="ti-heart text-danger" style="color: var(--text-danger);"></i> By <a href="http://devcrud.com" target="_blank" style="color: var(--text-danger);"><span class="text-danger" title="Bootstrap 4 Themes and Dashboards">DevCRUD</span></a>
        </p>
    </div>
</footer>
